/* Main Colors 026370*/

$main-color: #014875; 
$white-color: #ffffff;
$body-color: #F6F8FA;
$text-color: #333;

/* Main Fonts */

$font-size: 20px;
$font-bold: bold;
$main-font: agency-font;

/* Float */

$float-right: right;
$float-left: left;